<!doctype html>  
    <!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
    <!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
    <!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
    <!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
    <!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Lamborghini Model Search</title>
  <meta name="description" content="Lamborghini Model Search and Application Submission">
  <meta name="author" content="Amiri Barksdale">

  <meta name="viewport" content="width=device-width; initial-scale=1.0">

  <link rel="shortcut icon" href="[% c.uri_for('/favicon.ico') %]">
  <link rel="apple-touch-icon" href="[% c.uri_for('/apple-touch-icon.png') %]">


  <link rel="stylesheet" href="[% c.uri_for('/static/css/style.css') %]">
  <link rel="stylesheet" href="[% c.uri_for('/static/css/blueprint/src/forms.css') %]">
  <link rel="stylesheet" href="[% c.uri_for('/static/css/nivo-slider.css') %]">
  <link rel="stylesheet" href="[% c.uri_for('/static/css/lamborghini.css') %]">

  <script src="[% c.uri_for('/static/js/modernizr-1.5.min.js') %]"></script>

</head>

<body id="[% body_id %]">

    <div id="container">
        <div id="main">
            <div id="featured_model">
            </div><!--end featured_model-->
            <div id="featured_drink">
            </div><!--end featured_drink-->
            <header>
                <div id="message">
                    [% IF status_msg %]
                        <span class="success">[% status_msg %]</span>
                    [% END %]

                    [% IF notice_msg %]
                        <span class="notice">[% notice_msg %]</span>
                    [% END %]
                    
                    [% IF error_msg %]
                        <span class="error">[% error_msg %]</span>
                    [% END %]
                </div><!-- end message -->
            </header>
                [% content %]
            <div id="links">
                <div id="submit_info">
                    <a href="[% c.uri_for('/submit') %]"></a>
                </div><!-- end submit_info -->
                <div id="energy">
                    <a href="http://google.com"></a>
                </div><!-- end energy -->

                <div id="photo_shoot">
                    <a href="http://google.com"></a>
                </div><!-- end photo_shoot -->
                
                <div id="hotel">
                    <a href="http://google.com"></a>
                </div><!-- end hotel -->
                
                <div id="dj">
                    <a href="http://disney.com"></a>
                </div><!-- end dj -->
                
                <div id="tolga">
                    <a href="http://disney.com"></a>
                </div><!-- end tolga -->
            </div><!-- end links -->
        </div><!--end main-->
    <footer>
    </footer>
  </div> <!--! end of #container -->


  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script>!window.jQuery && document.write('<script src="/static/js/jquery-1.4.2.min.js"><\/script>')</script>


  <script src="[% c.uri_for('/static/js/plugins.js') %]"></script>
  <script src="[% c.uri_for('/static/js/jquery.scrollTo-1.4.2-min.js') %]"></script>
  <script src="[% c.uri_for('/static/js/jquery.nivo.slider.pack.js') %]"></script>
  <script src="[% c.uri_for('/static/js/swfobject.js') %]"></script>
  <script src="[% c.uri_for('/static/js/script.js') %]"></script>

  <!--[if lt IE 7 ]>
    <script src="[% c.uri_for('/static/js/dd_belatedpng.js') %]"></script>
    <script>
      DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images
    </script>
  <![endif]-->


  <script>
      $(document).ready(function() {
          $('body').scrollTo('50%', {axis: 'x'});
      });
  </script>

  <script>
   var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
   (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
   })(document, 'script');
  </script>

[% IF body_id == 'gallery' %]
  <script>
    $(window).load(function () {
     $("#slider").nivoSlider();
    });
  </script>
[% END %]
</body>
</html>
