<div id="main">
    <div id="featured_model">
        <p>Here's Cassie.</p>
    </div><!--end featured_model-->
    <header>
        <p>This is the header</p>
    </header>
    <div id="movie">
        <p>Here's a movie frame.</p>
    </div><!--end movie-->
    <div id="featured_drink">
        <p>Here's a drink.</p>
    </div><!--end featured_drink-->
</div><!--end main-->
